/* ARG MAP TOOL BAR  */
.selected {
  border: 2px dashed #32abe0 !important;
}
.customInput {
  border: none;
  width: 150px;
  height: 100%;
  word-wrap: break-word;
}

.customInput:focus {
    outline: none !important;
    border: none;
    box-shadow: 0;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* FEEDBACK CUES */
.group-prob {
  width: 20px;
  height: 20px;
  background-color: #14d7f9;
  border-radius: 50%;
  position:absolute;
  bottom: -8.5px;
  right: -10px;
  color: black;
  box-shadow: inset -3px -3px 5px rgba(0,0,0,.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.child-prob {
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
  position:absolute;
  bottom: -8.5px;
  left: -10px;
  color: black;
  box-shadow: inset -3px -3px 5px rgba(0,0,0,.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}





.hide{
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.group {
  width: 165px;
  height: 15px;
  display: inline-flex;
  justify-content: center;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  -webkit-transition: -webkit-transform .25s;
  -moz-transition: -moz-transform .25s;
  -o-transition: -o-transform .25s;
  transition: transform .25s;
}

.supp {
  border-top: 3px solid #409966;
}

.opp {
  border-top: 3px solid red;
}

.drop-supp {
  border: 4px dashed #409966;
  background: rgba(0,22.55,0,0.3);
  width: 160px;
}

.drop-opp {
  border: 4px dashed red;
  background: rgba(255,0,0,0.3);
  width: 160px;
}

.parent-child-supp {
  border: 3px dashed #409966 !important;
}

.parent-child-opp {
  border: 3px dashed red !important;
}

.post {
  width: 150px;
  margin-top: 10px !important;
  border-radius: 8px;
  margin: 0 auto;
  border: 1px solid #424242;
  z-index: 1000;
  padding: 0.3em;
  min-height: 30px;
  height: auto;
  font-size: 13px;
}
.wrap {
  word-wrap: break-word;
  color: black;
  min-height: 30x;
  height: 100%;
  text-align: left;
}

.line::after{
  content: 'l';
  position: absolute;
  top: -31px;
  left: 100px;
  font-size: 29px;
}
#grid {
  display: grid;
  grid-template-columns:25% 25% 25% 25%;
}

.post-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
  word-wrap: break-word;
}
.post-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.post-content {
  padding: 0.4em;
  word-wrap: break-word;
}
.post-placeholder {
  border: 2px dotted black;
  margin: 10px;
  height: 50px;
  width: 150px;
}

.progress-bar-container{
  display: inline-flex;
}

body {
  background-color: white;
  color: #d4d4d4;
  font-family: sans-serif;

}

.node, .node-support, .node-oppose{
  background-color: white;
  border-radius: .75em;
  display: inline-block;
  padding:0.1em .3em .25em;
  position:absolute;
  box-shadow: 3px 3px 3px #888888;
  -webkit-transition: -webkit-transform .25s;
  -moz-transition: -moz-transform .25s;
  -o-transition: -o-transform .25s;
  transition: transform .25s;
}

.node-support:before{
  content:"";
  height: 10px;
  display: block;
  border-top-left-radius:.75em;
  border-top-right-radius:.75em;
  padding:0.1em .3em 0em;
  margin:-.1em -.3em 0.2em;
  background-color:#12b33a;
}
.node-oppose:before{
  content:"";
  height: 10px;
  display: block;
  border-top-left-radius:.75em;
  border-top-right-radius:.75em;
  padding:0.1em .3em 0em;
  margin:-.1em -.3em 0.2em;
  background-color:#b41e1e;
}
.output,
.connection:after{
  position:absolute;
  border:solid 1px transparent;
  width:0.5em;
  height:0.5em;
  border-radius:0.5em;
}
.node.connected > .output,
.connection.filled:after{
  border:solid 1px transparent;
}
.output{
  top: -0.3em;
  left: 48.75%;
  cursor: pointer;
}
.connection{
  width:100%;
  position:absolute;
  cursor:pointer;
  left: -43%;
  top: 100%;
}
.support:after{
  border-color: '#409966'
}
.oppose:after{
  border-color: '#ff0000'
}
.oppose{
  left: -70%;
}
.connection:after{
  content:"";
  right:0em;
  top:-0.2em;
}
svg{
  position:absolute;
  top:0px;
  left:0px;
  z-index:-100;
  width:1000%;
  height:1000%;
}

#amp{
  width:1000%;
  height:1000%;
}

.hidden{
  display: none;
}

.area_support,.area_oppose{
  width: 50%;
  height: 50%;
  position: absolute;
}

.area_support{
  right: 0;
  bottom: 0;
}

.area_oppose{
  left: 0;
  bottom: 0;
}

.collapsed {
  width: 30px;
  height: 30px;
}

.root {
  border: 2px dashed red;}
